#include <windows.h>

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,1
    PRODUCTVERSION  1,0,0,1
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName", "Tavis Ormandy"
            VALUE "FileDescription", "Kaitai Structs for the Hiew Editor"
            VALUE "ProductName", "Kiewtai"
            VALUE "Comment", "https://github.com/taviso/kiewtai"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}
